<!-- views/users/registration.ejs -->

<!-- Include header partial -->
<% include('../layouts/headers.ejs') %>

    <!-- User registration form -->
    <h1>User Registration Form</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter Name" required>
        <br><br>
        <input type="email" name="email" placeholder="Enter Email" required>
        <br><br>
        <input type="text" name="mno" placeholder="Enter Mobile No" required>
        <br><br>
        <input type="file" name="image" required>
        <br><br>
        <input type="password" name="password" placeholder="Enter Password" required>
        <br><br>
        <input type="submit" value="Register">
    </form>

    <!-- Display registration message if available -->
    <% if (typeof message !=='undefined' ) { %>
        <p style="color: green;">
            <%= message %>
        </p>
        <% } %>

            <!-- Include footer partial -->
            <% include('../layouts/footer.ejs') %>